@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;600&family=Great+Vibes&family=Lora:ital,wght@1,400;1,500;1,600&family=Philosopher:wght@400;700&family=Redressed&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;600&family=Great+Vibes&family=Lora:ital,wght@1,400;1,500;1,600&family=Montserrat+Alternates:wght@100;500&family=Philosopher:wght@400;700&family=Redressed&display=swap');
@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --textcolor: #ede4d0;
    --languagebgcolor: #80808040;
    --infoscolor: black;
    --back: #1a1818;
    --backselec: #0F0F0F;
    --traitviolet: rgb(95, 4, 170);
    --whitesmoke: #f5f5f5;
}

* {
    font-family: "Montserrat", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/******************For Desktop screen*********************************/

@media screen and (min-width: 1100px) {
    body {
        margin: 0 auto;
        text-align: center;
    }
    nav {
        max-width: 1100px;
        margin: 0 auto;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 5px;
        align-items: center;
    }
    nav li {
        text-transform: uppercase;
        font-weight: 530;
        cursor: pointer;
        position: relative;
        font-size: 1rem;
        transition: 0.3s ease;
        padding: 20px 0;
    }
    nav li:first-child {
        color: var(--traitviolet);
    }
    nav li:first-child:before {
        content: "";
        position: absolute;
        height: 5px;
        width: 100%;
        background: var(--traitviolet);
        transform: translateY(-390%);
    }
    nav li:hover:before {
        content: "";
        position: absolute;
        height: 5px;
        width: 100%;
        background: var(--traitviolet);
        transform: translateY(-390%);
    }
    nav li:last-child:before {
        background: none;
    }
    nav li:last-child {
        background: var(--languagebgcolor);
        border-radius: 50px;
        padding: 8px 16px;
    }
    .main-header {
        background: url(./assets/img/bg.jpg) fixed center/cover;
        padding: 60px;
        min-height: 510px;
    }
    .main-header img {
        justify-items: center;
        margin-left: auto;
    }
    h1 {
        text-transform: uppercase;
        font-size: 2rem;
        padding: 30px 0;
        color: var(--textcolor);
        font-weight: 100;
    }
    .main-header button {
        border: 1px solid var(--textcolor);
        padding: 15px 35px;
        font-family: "Montserrat", sans-serif;
        font-size: 0.9rem;
        text-transform: uppercase;
        background: transparent;
        color: var(--textcolor);
        transition: 0.4s;
    }
    .main-header button:hover {
        background: var(--whitesmoke);
        color: black;
    }
    .header-text {
        padding: 45px 0;
        max-width: 1100px;
        font-size: 1.2rem;
        line-height: 34px;
        margin: 0 auto;
    }
    .icon-part {
        background: var(--back);
    }
    .icon-part-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        color: var(--textcolor);
    }
    .list-icon-part {
        padding: 70px 0;
    }
    .list-icon-part h3 {
        text-transform: uppercase;
        font-family: "Redressed";
        padding: 10px;
    }
    .list-icon-part p {
        width: 80%;
        margin: 10px auto 20px;
    }
    .news-part {
        display: grid;
        grid-template-rows: 200px 1fr;
        background: #F7F7F7;
    }
    .header-news {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 70px auto;
        width: 70%;
    }
    .left-part h2 {
        display: flex;
        font-weight: bold;
        font-family: "Redressed";
        text-transform: uppercase;
        font-size: 2.3rem;
        padding: 10px 0;
    }
    .left-part p {
        font-size: 1rem;
    }
    .right-part button {
        font-size: 0.8rem;
        padding: 13px 30px;
        text-transform: uppercase;
        background: white;
        border: 1px solid black;
        margin-top: 28px;
        letter-spacing: 1px;
    }
    .main-news {
        display: grid;
    }
    .main-new-container {
        display: flex;
        justify-content: space-around;
        max-width: 1100px;
        margin: 45px auto;
    }
    .new {
        max-width: 23%;
        position: relative;
    }
    .new h4 {
        text-align: left;
        padding: 20px 0 10px;
    }
    .new p {
        text-align: justify;
        text-indent: 20px;
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 35px;
    }
    .mn-pic {
        display: flex;
        box-shadow: 1px 0px 10px 1px rgb(0 0 0 / 40%);
        border-radius: 15px;
        overflow: hidden;
    }
    .mn-pic img {
        object-fit: cover;
        width: 100%;
    }
    .link {
        position: absolute;
        text-align: left;
        bottom: 0;
    }
    .contact {
        display: grid;
    }
    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80% 20%;
    }
    .contact-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 40px 60px;
        text-align: center;
    }
    .list {
        margin: 0 0px;
    }
    .list h5 {
        text-transform: uppercase;
        font-size: 1rem;
        padding: 10px 0;
        text-align: left;
    }
    .list h6 {
        font-size: 1rem;
        padding: 10px 0;
        text-align: left;
        line-height: 1px;
    }
    .infos-p {
        line-height: 30px;
        text-align-last: left;
    }
    .list p {
        text-align: left;
        margin: 10px 0;
    }
    .infos-p li a {
        text-decoration: none;
        text-align: left;
    }
    .footer-logos {
        text-align-last: left;
    }
    .contact-medias {
        position: relative;
        display: grid;
        grid-template-columns: 30% 70%;
        margin: 20px auto 80px;
        width: 90%;
    }
    .contact-medias:before {
        content: "";
        position: absolute;
        width: 80%;
        height: 1px;
        background: rgb(235, 235, 235);
        bottom: 60px;
        text-align: center;
        margin-left: 100px;
    }
    .medias-text {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding-left: 50px;
    }
    .medias-text h3 {
        padding-bottom: 10px;
    }
    .medias-logos {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px 0;
    }
    footer {
        background: var(--back);
    }
    footer h3 {
        text-transform: uppercase;
        padding: 20px;
        font-size: 1.5rem;
        letter-spacing: 1px;
        color: var(--textcolor);
        font-family: "Redressed";
    }
    footer ul {
        display: flex;
        justify-content: center;
    }
    footer li {
        padding: 20px 15px;
    }
}


/******************For medium screen*********************************/

@media screen and (min-width: 700px) and (max-width: 1099px) {
    body {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        max-width: 1000px;
        align-items: center;
    }
    nav li {
        display: flex;
        text-transform: uppercase;
        font-weight: 530;
        cursor: pointer;
        position: relative;
        font-size: 0.7rem;
        transition: 0.3s ease;
        padding: 20px 0;
    }
    nav li:first-child {
        color: var(--traitviolet);
    }
    nav li:first-child:before {
        content: "";
        width: 100%;
        height: 5px;
        background: var(--traitviolet);
        position: absolute;
        top: 0;
    }
    nav li:hover:before {
        content: "";
        width: 100%;
        height: 5px;
        background: var(--traitviolet);
        position: absolute;
        top: 0;
    }
    nav li:last-child::before {
        background: none;
    }
    #language {
        background: #80808040;
        border-radius: 50px;
        padding: 8px 10px;
    }
    .main-header {
        background: url(./assets/img/bg.jpg) fixed center/cover;
        min-height: 450px;
    }
    .main-header img {
        margin: 30px 0;
        height: 150px;
    }
    .main-header h1 {
        text-transform: uppercase;
        color: var(--whitesmoke);
    }
    button {
        text-transform: uppercase;
        font-size: 0.9rem;
        margin: 40px 0;
        padding: 10px 15px;
        transition: 0.4s;
        background: transparent;
        color: var(--textcolor);
    }
    button:hover {
        background: var(--whitesmoke);
        color: black;
    }
    .header-text {
        min-height: 60px;
        padding: 20px 0;
    }
    .icon-part {
        background: var(--backselec);
        margin: 0 auto;
    }
    .icon-part-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
        justify-content: center;
    }
    .list-icon-part {
        color: var(--textcolor);
    }
    .lip-logo img {
        display: flex;
        margin: auto;
    }
    .list-icon-part h3 {
        text-transform: uppercase;
        padding: 20px 0;
        font-size: 0.9rem;
    }
    .list-icon-part p {
        font-size: 0.7rem;
    }
    .list-icon-part button {
        margin: 10px 0;
    }
    .news-part {
        display: flex;
        flex-direction: column;
    }
    .header-news {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 10px;
    }
    .left-part {
        text-align: left;
        padding: 10px 0;
    }
    .right-part button {
        font-size: 0.8rem;
        padding: 10px 20px;
        /* text-transform: uppercase; */
        color: black;
        border: 1px solid black;
        margin-top: 18px;
        /* letter-spacing: 1px; */
    }
    .main-news {
        margin: 0 30px;
    }
}